@model TravelBlog.Models.Experience
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <h2>Experience Details</h2>
    <hr />
    <p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>
    @*@foreach (var item in Model.People)
    {

        <p>@Html.LabelFor(model => item.Description, "Name: ") @Html.DisplayFor(model => item.Description)</p>

    }*@

</body>