@model TravelBlog.Models.Experience
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Experience Details</h2>
<hr />
<h3>@Html.DisplayNameFor(thisExperience => thisExperience.Description): @Html.DisplayFor(thisExperience => thisExperience.Description)</h3>
<h4>People from this experience:</h4>
<ul>
    @foreach (var people in Model.People)
    {

        <li>@Html.LabelFor(model => people.Description, "Name: ") <a href=/people/Details/@Html.DisplayFor(model =>people.PeopleId)>@Html.DisplayFor(model => people.Description)</a></li>


    }
</ul>